<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signupPage.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container-content">
        <div style="text-align: center;">
            <h1 style="display: inline-block;">
                Awesome
            </h1>
            <h1 style="color: green;display: inline-block;">
                Shop
            </h1>
        </div>
        <div class="container-btn-signUp">
            <button class="btn-signUp"id="btn-signUp-wGoogle">
                Sign up with google
            </button> <br>
            <button class="btn-signUp"id="btn-signUp-wFacebook">
                Sign up with facebook
            </button>
        </div>
        <div class="form-container">
            <form action="">
                <div class="input-form-container">
                    <div style="display: grid; grid-template-columns: auto auto;width: 500px;">
                        <div style="margin: auto;">
                            <p class="paragraph">First name</p>
                            <input type="text" name="" id="" class="input-text-grid">
                        </div>
                        <div style="margin: auto;">
                            <p class="paragraph">Last name</p>
                            <input type="text" name="" id="" class="input-text-grid">
                        </div>
                    </div>
                    <div style="width: 500px;">
                        <p class="paragraph">Email</p>
                        <input type="text" name="" id="" class="input-text">
                        <p class="paragraph">Password</p>
                        <input type="text" name="" id="" class="input-text">
                        <button class="btn-signUp" id="btn-sign">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>